body {
    background-color:beige;
    font-size: medium;
    color: #000;
    font-family: Arial;
    text-align: justify;
}

h1, h2, h3 {color:brown; font-family: Verdana;}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.flex_container{
    display: flex;
    background-color:rgb(71, 68, 255);
}

.flex_item{
    background-color: antiquewhite;
    margin: 4px;
    flex: 1;
    text-align: center;
}

a:link{
    text-decoration: none;
    color:rgb(0, 0, 0);
}

img.one{
    height: auto;
    width: 50%;
}

img.two{
    width: 80%;
}